<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Babble!</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

    @font-face{
        font-family: Overpass;
        src: url("overpass-bold.otf")
    }
    /********** Chatroom **********/
    body{
        background: #38598B;
    }

    /********** NAVBAR ************/
    .LobbyText{
        position: absolute;
        width: 179px;
        height: 61px;
        left: 12.5%;
        top: 29px;

        font-family: Overpass;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 61px;
        letter-spacing: 0.01em;
        text-decoration-line: underline;

        color: #FFFFFF;
    }

    .LobbyText{cursor: pointer;}

    .Logo{
        position: absolute;
        height: 140px;
        left: 25px;
        top: -3px;
    }

    /********** LobbyFrame **********/
    .LobbyFrame{
        position: absolute;
        width: 100%;
        height: 750px;
        left: 0px;
        top: 90px;
        background: #A2A8D3;   
    }

    .mainBox{
        position: absolute;
        width: 50%;
        height: 55%;
        left: 25%;
        top: 15%;

        background: #F1F1F1;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 15px;
    }

    /********** "CHATROOMS" **********/
    .CHATROOMTEXT{
        position: absolute;
        width: 340px;
        height: 50px;
        left: 36.5%;
        top: 3.5%;

        font-family: Overpass;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 61px;
        /* letter-spacing: 0.01em; */

        color: #FFFFFF;
    }

    /********** MODAL **********/
    p{
        font-family: Overpass;
    }

    .buttonStyle{
        border-radius:3px; 
        border-style:solid; 
        border-width:1px; 
        border-color:black; 
        margin-top:5px; 
        margin-left:80px; 
        font-family: Overpass;
        cursor: pointer;
    }

    #roomJoin{
        font-family: Overpass;
        border-radius: 5px;
        border-color:#706b6b;
    }
    
    #createRoom{
        font-family: Overpass;
        border-radius: 5px;
        border-color:#837b7b
    }

    #roomDiv{
        font-family: Overpass;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    #addRoom{
        font-family: Overpass;
        margin-left: 10px;
        font-size: 20px;
        margin-bottom:2px;
    }

    #inputName{
        margin-left: 10px;
        border-radius: 8px;
        border-color:#645f5f
    }
    </style>
</head>

<body onload="document.getElementById('id01').style.display='block'">
    <div class="Chatroom">
        <!-- NavBar -->
        <img class="Logo" src="/images/babble.png">
        
        <!-- Lobby Frame -->
        <div class="LobbyFrame">
            <div class="CHATROOMTEXT">CHATROOMS</div>
            <div class="mainBox">
                <!-- Page Content-->
                <div id = "page-content-wrapper">
                    <div class = "container-fluid">
                        <div class = "row">
                            <div class = "col-lg-12">
                                <p id ="addRoom"> Add a new room</p>
                                <form action="/room" method="POST">
                                    <input name="room" id="inputName" type="text" required>
                                    <button type="submit" id="createRoom">Create Room</button>
                                    <br><br>
                                </form>
                                <div id = "chatroomList">
                                <% Object.keys(rooms).forEach(room => { %>
                                    <form action="/<%= room %>">
                                    <div id ="roomDiv"><%= room %>
                                        <button id ="roomJoin" type="submit" action="/<%= room %>"> Join </button>
                                    </div>
                                    </form>
                                <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- MODAL -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content" style="width: 255px; height: 115px; border-radius:12px;
        margin-top: 11%; align-content: center">
          <div class="w3-container"  style="border-style: solid; border-color:black; border-radius:10px; border-width:2px;">
            <p>Welcome to Babble! Chat with<br>others and make new friends :)</p>
            <!-- <p>Enter a displa</p>
            <input type="text" id="idDisplayName" style="border-width:1px; border-style:solid; border-radius:5px;"> -->
            
            <div style="padding-bottom: 8px;">
                <button onclick="document.getElementById('id01').style.display='none'" class="buttonStyle" id="enter">
                    Enter
                </button>
            </div>
          </div>
        </div>
    </div>

    
</body>
</html>