<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lobby</title>

    <style>

        @font-face{
            font-family: Overpass;
            src: url("overpass-bold.otf")
        }
    /********** Chatroom **********/
    body{
        background: #38598B;
    }

    /********** NAVBAR ************/
    .LobbyText{
        position: absolute;
        width: 179px;
        height: 61px;
        left: 12.5%;
        top: 29px;

        font-family: Overpass;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 61px;
        letter-spacing: 0.01em;
        text-decoration-line: underline;

        color: #FFFFFF;
    }

    .LobbyText{cursor: pointer;}

    .Logo{
        position: absolute;
        height: 140px;
        left: 25px;
        top: -3px;
    }

    /********** LobbyFrame **********/
    .LobbyFrame{
        position: absolute;
        width: 100%;
        height: 750px;
        left: 0px;
        top: 90px;
        background: #A2A8D3;   
    }

    .mainBox{
        position: absolute;
        width: 50%;
        height: 55%;
        left: 25%;
        top: 15%;

        background: #F1F1F1;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 15px;
    }

    /********** "CHATROOMS" **********/
    .CHATROOMTEXT{
        position: absolute;
        width: 340px;
        height: 50px;
        left: 36.5%;
        top: 3.5%;

        font-family: Overpass;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 61px;
        /* letter-spacing: 0.01em; */

        color: #FFFFFF;
    }

    p{
        font-family: Overpass;
    }

    #roomJoin{
        font-family: Overpass;
        font-size:15px;
        border-radius: 5px;
        border-color:#706b6b;
    }
    
    #createRoom{
        font-family: Overpass;
        border-radius: 5px;
        border-color:#837b7b;
        font-size:15px;
    }

    #roomDiv{
        font-family: Overpass;
        margin-left: 10px;
        font-size:15px;
        margin-bottom: 15px;
    }

    #addRoom{
        font-family: Overpass;
        margin-left: 10px;
        font-size: 20px;
        margin-bottom:2px;
    }

    #inputName{
        margin-left: 10px;
        border-radius: 8px;
        border-color:#645f5f;
        height: 22px;
        width: 200px;
    }
    </style>
</head>

<body onload="document.getElementById('id01').style.display='block'">
    <div class="Chatroom">
        <!-- NavBar -->
        <img class="Logo" src="/images/babble.png">
        
        <!-- Lobby Frame -->
        <div class="LobbyFrame">
            <div class="CHATROOMTEXT">CHATROOMS</div>
            <div class="mainBox">
                <!-- Page Content-->
                <div id = "page-content-wrapper">
                    <div class = "container-fluid">
                        <div class = "row">
                            <div class = "col-lg-12">
                                <p id ="addRoom"> Add a new room</p>
                                <form action="/room" method="POST">
                                    <input name="room" id="inputName" type="text" required>
                                    <button type="submit" id="createRoom">Create Room</button>
                                    <br><br>
                                </form>
                                <div id = "chatroomList">
                                <% Object.keys(rooms).forEach(room => { %>
                                    <form action="/<%= room %>">
                                    <div id ="roomDiv"><%= room %>
                                        <button id ="roomJoin" type="submit" action="/<%= room %>"> Join </button>
                                    </div>
                                    </form>
                                <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>