<html>
    <head>
     <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
    </head>
    <body>
        <div class = "loginbox">
            <img src = "/images/Logo.png" class = "logo">
            
            <form id = "userForm" action = "login" method = "POST">
                <input type = "text" id = "username" name = "username" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="submit" id="submit" name="submit" value="Login">
    
            </form>
        </div>
        
    </body>
</html>