<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
    
        $(document).ready(function(){
            $("#send").click(function(){

                $("#messageText").after("<p id=newMessage>" + document.getElementById("idTextInput").value + "</p>"); //Appends
                document.getElementById("messageText").setAttribute("id", "prevMessage"); //Assigns new ID to the Parent
                document.getElementById("newMessage").setAttribute("id","messageText");
                document.getElementById("idTextInput").value=''; //Clears the TextField
                autoscroll();
            });

            $('#idTextInput').keypress(function(e){
                if(e.which == 13){//Enter key pressed
                    $('#send').click();//Trigger send button click event
                }
            });

            function autoScroll(){
                let height = $("#message-container")[0].scrollHeight;
                $("#message-container").animate({scrollTop: height}, 400)
            }
        });
    
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src= "https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script defer src="script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel= "stylesheet" href ="/css/room_style.css" type = "text/css"/>
</head>
<body>
<div class = "wrapper">
  <!-- Sidebar-->
     <img src = "/images/Logo.png" class = "logo">
     <div id="roomUsers"> 
        <span> <%= roomName %> </span>
     </div>
           
      <div id = "chatroom_name"> 
        <form id = "exit-container" action ="/exit">
          <button type="submit" id = "exit-button">Exit Room </button>
        </form>
      </div>
    </div>
  <!-- Page Content-->
  <div id = "page-content-wrapper">
    <div class = "container-fluid">
        <div class = "row">
            <!-- Online Users -->
            <div>
                <div class="TallBox"></div>
                <div class="Line2"></div>
                <div class="UsersHeader"></div>
                <div class="Line"></div>
                <div class="UsersText">Users</div>
            </div>

            <div class = "mainBox">
              <div class = "textDisplay">
              <div class = "col-lg-12">
                <div id= "chatbox-wrapper">
                  <div id="chatbox"> 
                    <div id="message-container">
                    </div>
                  </div> 
              </div>
            </div>
          </div>
        </div>
          <div class ="long"></div>
          <div class="rounded"></div>
          <div class="thin"></div>
          <form id="send-container">
                <input type="text" id="message-input">
                <input type="image" id="send-button" class = "plane" src ="/views/assets/paper plane.png">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>