<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel= "stylesheet" href ="/css/room_style.css" type = "text/css"/>
</head>
<body>
<div class = "wrapper">
  <!-- Sidebar-->
  <div id = "sidebar-wrapper">
     <img src = "/images/Logo.png" class = "logo">
     <ul class = "sidebar-nav">
      <li><a class = "nav-link" href="link-profile">Profile</a></li>
      <li><a id ="nav-chatroom-selected" class = "nav-link" href="link-chatrooms">Chatrooms</a></li>
      <li><a class = "nav-link" href="link-settings">Settings</a></li>
      <li><a id ="nav-logout" class = "nav-link" href="link-logout">Logout</a></li>
    </ul>
  </div>
  <!-- Page Content-->
  <div id = "page-content-wrapper">
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-lg-12">
              <div id="roomUsers"> 
                <h3> <%= roomName %> </h3>
                <div id ="roomUsers">  </div>
              </div>     
              <div id = "chatroom_name"> 
                <form id = "exit-container" action ="/exit">
                  <button type="submit" id = "exit-button">Exit Room </button>
                </form>
              </div>
            <div id= "chatbox-wrapper">
                <div id="chatbox"> 
                    <div id="message-container"></div>
                </div>
                <form id="send-container">
                    <input type="text" id="message-input">
                    <button type="submit" id="send-button">Send</button>
                </form>
          </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>