<html>
    <head>
        <link rel= "stylesheet" href ="/css/sidebar.css" type = "text/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
        <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script defer src="script.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    </head>

    <title>Settings</title>

    <body>
        <!-- Sidebar -->
        <div id = "sidebar-wrapper">
            <img src = "/images/Logo.png" class = "logo">
           <ul class = "sidebar-nav">
             <li><a class = "nav-link" href="link-profile">Profile</a></li>
             <li><a class = "nav-link" href="link-chatrooms">Chatrooms</a></li>
             <li><a id ="nav-chatroom-selected" class = "nav-link" href="link-settings">Settings</a></li>
<<<<<<< HEAD
             <li><a id ="nav-logout" class = "nav-link" href="link-logout">Logout</a></li>
=======
>>>>>>> 9a5b470dbe6e34fdd25090fe18632cffd9b20e58
           </ul>
         </div>
         <!-- Page Content -->
        <div id = "page-content-wrapper">
            <div id="container-fluid">
                <div class = "row">
                    <div class = "col-lg-12">

                        <!-- CHANGE DISPLAY NAME -->
                        <script type="text/javascript">
                            $(function(){
                                $(".makeEditable").click(function(){
                                    $('input:text').removeAttr("readonly");
                                    $(".makeEditable").toggle(0); 
                                });
                
                                $(".makeUneditable").click(function(){
                                    $('input:text').attr("readonly", "readonly");
                                    $(".makeEditable").toggle(0);
                                });
                            })
                        </script>
                        <h4>Change Display Name</h4>
                        <button value="edit" class="makeUneditable">Save</button>
                        <button value="edit" class="makeEditable"  style="margin-left: -53px; width: 48px;">Edit</button>
                        <input type="text" name="display-name" placeholder="HenricTay88" readonly="readonly">
                        <br><br>

                        <!-- CHANGE PASSWORD -->
                        <script type="text/javascript">
                            $(function(){
                                $(".makeEditPass").click(function(){
                                    $('#passfield').removeAttr("readonly");
                                    $(".makeEditPass").toggle(0); 
                                });
                
                                $(".makeUneditPass").click(function(){
                                    $('#passfield').attr("readonly", "readonly");
                                    $(".makeEditPass").toggle(0);
                                });
                            })
                        </script>
                        <h4>Change Password</h4>
                        <button value="save" class="makeUneditPass">Save</button>
                        <button value="edit"class="makeEditPass" style="margin-left: -53px; width:48px;">Edit</button>
                        <input id="passfield"type="password" name="display-name" placeholder="•••••••" readonly="readonly">
                        <br><br>

                        <!-- Edit Information -->
                        <script type="text/javascript">
                            $(function(){
                                $(".makeEditInfo").click(function(){
                                    $('#numberfield').removeAttr("readonly");
                                    $('#interests').removeAttr("readonly");
                                    $(".makeEditInfo").toggle(0); 
                                });
                
                                $(".makeUneditInfo").click(function(){
                                    $('#numberfield').attr("readonly", "readonly");
                                    $('#interests').attr("readonly", "readonly");
                                    $(".makeEditInfo").toggle(0);
                                });
                            })
                        </script>

                        <h4>Edit Information</h4>
                        <button value="save" class="makeUneditInfo">Save</button>
                        <button value="edit"class="makeEditInfo" style="margin-left: -53px; width:48px;">Edit</button>
                        <br><br>
                            <ul>
                                <h6>Birthday</h6>
                                <div>
                                    <select disabled>
                                        <option value="January">January</option><option value="February">February</option>
                                        <option value="March">March</option><option value="April">April</option>
                                        <option value="May">May</option><option value="June">June</option>
                                        <option value="July">July</option><option value="August">August</option>
                                        <option value="September">September</option><option value="October">October</option>
                                        <option value="November">November</option><option value="December" selected="selected">December</option>
                                    </select>
                                    <select disabled>
                                        <option value="1">1</option><option value="2">2</option><option value="3">3</option>
                                        <option value="4">4</option><option value="5">5</option><option value="6">6</option>
                                        <option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                        <option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                        <option value="13">13</option><option value="13">13</option><option value="14">14</option>
                                        <option value="15">15</option><option value="16">16</option><option value="17">17</option>
                                        <option value="18">18</option><option value="19">19</option><option value="20">20</option>
                                        <option value="21">21</option><option value="22" selected="selected">22</option><option value="23">23</option>
                                        <option value="24">24</option><option value="25">25</option><option value="26">26</option>
                                        <option value="27">27</option><option value="28">28</option><option value="29">29</option>
                                        <option value="30">30</option><option value="31">31
                                    </select>
                                </div>
                            </ul>
                            
                            <ul>
                                <h6>Contact Number</h6>
                                <input id="numberfield" type="text" name="phonenum" placeholder="0917 539 1194" readonly="readonly">
                            </ul>
                            <ul>
                                <h6>Interests</h6>
                                <input id="interests" type="text" name="interests" placeholder="Basketball, Studying, Orgs" readonly="readonly"
                                 style="height:100px; width: 300px;">
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>